## Commom

# Ignore all files with .bin or .obj extensions anywhere
*.bin
*.obj

# IDEs and Text Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Operating System Files
DS_Store
Thumbs.db


# Start Angular Project

# Dependency directories
node_modules/

# Angular build outputs (Distribution folder)
/dist/
/.angular/

# Local development logs & caches
npm-debug.log*
yarn-error.log*
.eslintcache

# Project configuration overrides
/src/environments/environment.prod.ts

# End Angular Project

# Start ReactJS Project

# Production build outputs
/build/
/dist/

# Environment files containing secret keys (CRITICAL)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage reports (Testing frameworks)
/coverage/

# End ReactJS Project


# Start .NET Project

# Build folders
bin/
obj/

# User-specific files & IDE configurations
*.user
*.suo
*.userosscache
*.sln.docstates

# Local publishing outputs
/publish/
/out/

# Secret manager app secrets (Local development values)
secrets.json
appsettings.Development.json

# End .NET Project

# Start Flutter Project

# Flutter tool caches
.dart_tool/
.packages
.pub-cache/
.pub/

# Android-specific build compilation artifacts
/android/app/build/
/android/.gradle/
*.apk
*.aab

# iOS-specific build artifacts
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
Pods/

# Web & generic desktop build targets
build/

# End Flutter Project